# MacOS DS_Store files
.DS_Store

# Gradle cache folder
.gradle

# Gradle build folder
build

# IntelliJ
out/
.idea
*.iml
# mpeltonen/sbt-idea plugin
.idea_modules/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Common working directory
run
/src/generated/
/run-data/

# Allow example recipe scripts inside the ignored run directory
!/run/
/run/*
!/run/scripts/
/run/scripts/*
!/run/scripts/oraculumworktables_examples.zs
!/run/scripts/oraculumworktables_examples_en.zs
!/run/kubejs/
/run/kubejs/*
!/run/kubejs/server_scripts/
/run/kubejs/server_scripts/*
!/run/kubejs/server_scripts/oraculumworktables_examples.js
!/run/kubejs/server_scripts/oraculumworktables_examples_en.js
